.App {
  text-align: center;
margin: 50px 250px;
padding: 20px;
border: 3px solid #195e83;
border-radius: 5px;
}

.data
{
  border: 1px solid #195e83;
  background-color: rgb(25, 94, 131,0.1);
  
  
}



